<div class="row">
    <div class="col-md-3">
        <div class="card" style="height: 550px;">
            <div class="card-body bg-light">
                <div ngbAccordion>
                    <div ngbAccordionItem [collapsed]="true">
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>At Risk</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>

                                    @for (student of atRisk; track student.rollNo) {
                                    <ngb-alert [dismissible]="false" type="danger"
                                        style="border-color: rgb(184, 14, 14);">
                                        <strong>
                                            <div (click)="selectStudent(student)">
                                                {{student.rollNo}}
                                            </div>
                                        </strong>
                                    </ngb-alert>
                                    }

                                </ng-template>
                            </div>
                        </div>
                    </div>

                    <div ngbAccordion>
                        <div ngbAccordionItem [collapsed]="true">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>Not At Risk</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>

                                        @for (student of notAtRisk; track student.rollNo) {
                                        <ngb-alert [dismissible]="false" type="success"
                                            style="border-color: rgb(13, 131, 13);">
                                            <strong>
                                                <div (click)="selectStudent(student)">
                                                    {{student.rollNo}}
                                                </div>
                                            </strong>
                                        </ngb-alert>
                                        }

                                    </ng-template>
                                    
                                </div>
                              
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <button (click)="approve_all()" type="button" class="btn btn-primary">Approve All</button>
        </div>
          
    </div>
    <div class="col-md-9">
        <div class="card" style="height: 550px; background-color: rgb(165, 211, 233);">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="mb-4">
                        <input id="typeahead-focus" type="text" class="form-control" placeholder="Search Student"
                            [(ngModel)]="model" [ngbTypeahead]="search" (focus)="focus$.next($any($event).target.value)"
                            (click)="click$.next($any($event).target.value)"
                           #instance="ngbTypeahead" (keyup.enter)="onselect()"
                         
                           />
                        <hr />
                        <!-- if(filteredStudent){  -->
@if(studentselected){
    <div class="card shadow-sm rounded-0" >
        <div class="card-body">
            <div>
                <div>Rollno : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{student.rollNo}}</span></div> 
                <div>Name : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{student.name}}</span></div>
                <div>
                    Program : &nbsp;&nbsp;&nbsp;<span>{{student.program}}</span></div>
              </div>
        </div>
    
        
        <div class="mt-3">
            <div class="row">
                <div class="col-md-6">
                    <div ngbAccordion>
                        <div ngbAccordionItem>
                            <h2 ngbAccordionHeader>
                              <button ngbAccordionButton>Core Courses</button>
                            </h2>
                            <div ngbAccordionCollapse>
                              <div ngbAccordionBody>
                                <ng-template>
                                    @for (course of student.coreCourses; track course.code) {
                                        <table class="table table-sm table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{course.code}}</td>
                                                    <td>{{course.name}}</td>
                                                </tr>
                                        </table>
                                    }
                                </ng-template>
                              </div>
                            </div>
                          </div>
                      </div>
                </div>
                <div class="col-md-6">
                    <div ngbAccordion>
                        <div ngbAccordionItem>
                            <h2 ngbAccordionHeader>
                              <button ngbAccordionButton>Elective Credits</button>
                            </h2>
                            <div ngbAccordionCollapse>
                              <div ngbAccordionBody>
                                <ng-template>
                                    @for (elective of student.electiveCredits; track elective.code) {
                                        <table class="table table-sm table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Min</th>
                                                    <th>Max</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{elective.code}}</td>
                                                    <td>{{elective.min}}</td>
                                                    <td>{{elective.max}}</td>
                                                </tr>
                                        </table>
                                    }
                                </ng-template>
                              </div>
                            </div>
                          </div>
                      </div>
                </div>
            </div>
        
            <div><br>
                &nbsp;&nbsp;&nbsp;&nbsp;Risk Description : <span>{{student.riskDecs}}</span>
                <br>
            </div>
        
        
          </div>
    
    <div class="card-footer">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary btn-block" (click)="approve_reject(true)">Approve</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-danger btn-block" (click)="approve_reject(false)" >&nbsp; Reject &nbsp; </button>
            </div>
            
        </div>
    </div>
    <router-outlet></router-outlet>
    
    </div>
    
}

                    </div>
                        <div class="container-fluid">
                            <router-outlet></router-outlet>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>

    
