@if(plan) {
<div class="d-md-flex">
    <div class="p-2 flex-grow-1">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="p-2 flex-grow-1"><span class="fw-bold">Name: </span>{{plan.studentInfo.name}}
                            </div>
                            <div class="p-2 flex-grow-1"><span class="fw-bold">Completed semesters: </span>4</div>
                            <div class="p-2 flex-grow-1"><span class="fw-bold">Program: </span>
                                {{plan.studentInfo.program}}
                            </div>
                            <div class="p-2 flex-grow-1"><span class="fw-bold">Year of joining: </span>2018</div>
                            <div class="p-2 flex-grow-1"><span class="fw-bold">CGPA: </span>7.68 / 10.00</div>
                        </div>
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="p-2 flex-grow-1"><span class="fw-bold">Submit date: </span>{{plan.submitDate}}
                            </div>
                            <div class="p-2 flex-grow-1"><span class="fw-bold">Planned credits: </span>
                                {{totalCreditRange()}}
                            </div>
                            @if(!plan.atRisk) {
                            <div class="p-2 flex-grow-1"><span class="fw-bold">
                                    Safe credit plan: </span> <span class="text-success">Yes</span>
                            </div>
                            }
                            @else {
                            <div class="p-2 flex-grow-1"><span class="fw-bold">
                                    Safe credit plan: </span> <span class="text-danger">No</span>
                            </div>
                            }
                            <div class="p-2 flex-grow-1"><span class="fw-bold">Credit plan risk:
                                </span>{{plan.riskDesc}}
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap">
                        @if (plan.decisionStatus == DecisionStatus.PENDING) {
                        <div class="p-2 flex-grow-1">
                            <form>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="Remarks are mandatory for rejections" [formControl]="remarks">
                                </div>
                            </form>
                        </div>
                        <div class="p-2 ms-auto">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-warning"
                                ngbTooltip="Click to reject the credit plan" placement="bottom"
                                triggers="hover" autoClose="true"
                                    (click)="rejectCreditPlan(plan)">Reject</button>
                                <button type="button" class="btn btn-outline-primary"
                                ngbTooltip="Click to accept the credit plan" placement="bottom"
                                triggers="hover" autoClose="true"
                                    (click)="acceptCreditPlan(plan)">Accept</button>
                            </div>
                        </div>
                        }
                        @else {
                        @if (plan.decisionStatus == DecisionStatus.ACCEPTED) {
                        <div class="p-2 flex-grow-1"><span class="fw-bold">Decision and remarks: </span>
                            <span class="text-success">{{plan.decisionStatus + '; ' + plan.decisionRemarks }}</span>
                        </div>
                        }
                        @else {
                        <div class="p-2 flex-grow-1"><span class="fw-bold">Decision and remarks: </span>
                            <span class="text-danger">{{plan.decisionStatus + '; ' + plan.decisionRemarks }}</span>
                        </div>
                        }
                        }
                    </div>
                </div>
            </div>
    </div>
    <div class="p-2 d-md-flex">
        <div class="card h-100">
            <div class="card-header text-center">
                Credits Earned
            </div>
            <div class="card-body text-center flex-fill">
                @for (cat of plan.studentInfo.creditsEarned; track $index) {
                <div class="p-2"><span class="fw-bold">{{cat.category}}: </span>{{cat.earned}}/{{cat.required}}</div>
                }
                <div class="p-2"><span class="fw-bold">Total:
                    </span>{{totalCreditsEarned()}}/{{plan.studentInfo.totalCreditsRequired}}</div>
            </div>
        </div>
    </div>
</div>

<div class="d-md-flex flex-wrap">
    <div class="p-2 flex-grow-1">
        <div class="card h-100">
            <div class="card-header text-center">
                Core Plan
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Code</th>
                            <th scope="col" class="text-center">Name</th>
                            <th scope="col" class="text-center">Credits</th>
                            <th scope="col" class="text-center">Slot</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (core of plan.corePlan; track $index) {
                        <tr>
                            <td class="text-center">{{core.code}} </td>
                            <td class="text-center">{{core.name}} </td>
                            <td class="text-center">{{core.credits}} </td>
                            <td class="text-center">{{core.slot }} </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="p-2 flex-grow-1">
        <div class="card h-100">
            <div class="card-header text-center">
                Elective Plan
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Category</th>
                            <th scope="col" class="text-center">Min Credits</th>
                            <th scope="col" class="text-center">Max Credits</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (elective of plan.electivePlan; track $index) {
                        <tr>
                            <td class="text-center">{{elective.category}} </td>
                            <td class="text-center">{{elective.minCredits}} </td>
                            <td class="text-center">{{elective.maxCredits}} </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


}
@else {
<strong>Select a student to display their credit plan.</strong>
}