@if(studentInfo){
    
<div class="card rounded-0">
    <div class="card-body">
       <div class="card  pb-0 rounded-0 mb-3">
            <div class="card-body pb-0">
                <div class="table-responsive-sm">
                    <table class="table p-2 table-striped table-sm">
                        <tbody>
                            <tr class="">
                                <td  class="bg-dark text-white" ><i class="fas fa-user-graduate me-2"></i><span class="text-uppercase ">Student Name</span></td>
                                <td  class="bg-dark text-white" >{{ studentInfo.name | uppercase }}</td>
                            </tr>
                            <tr>
                                <td > <i class="fas fa-hashtag me-2"></i><span class="text-uppercase">Roll Number</span></td>
                                <td >{{ studentInfo.rollNo | uppercase }}</td>
                            </tr>
                            <tr >
                                <td  class="bg-dark text-white"><i class="fas fa-chalkboard-teacher me-2"></i><span class="text-uppercase">Program</span></td>
                                <td  class="bg-dark text-white">{{ studentInfo.program | uppercase }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
       </div>
        
        
        
         <div class="d-flex justify-content-center">
            <div ngbAccordion class="m-2 align-center ">
                <div ngbAccordionItem  #coreCoursesPanel="ngbAccordionItem" id="coreCoursesPanel"
                (mouseenter)="handleMouseEnter('coreCoursesPanel')" (mouseleave)="handleMouseLeave('coreCoursesPanel')"
                (touchstart)="handleTouchStart('coreCoursesPanel')" (touchend)="handleTouchEnd('coreCoursesPanel')">
                    <h2 ngbAccordionHeader>
                    <button ngbAccordionButton class="btn btn-primary text-white pt-2 pb-2  d-flex align-items-center">
                        <div class="">
                            <i class="fas fa-book-open me-2"></i>
                        </div>
                        <div class="flex-grow-1 text-center">
                            <span>Core Courses</span>
                        </div>
                        </button>
                    </h2>
                    <div ngbAccordionCollapse   class="position-absolute shadow bg-white" style="z-index: 2;">
                    <div ngbAccordionBody (mouseenter)="isCoreHovered = true" (mouseleave)="handleMouseLeave('coreCoursesPanel')"
                    (touchstart)="isCoreHovered = true"(touchend)="handleTouchEnd('coreCoursesPanel')">
                        <ng-template>
                            <div class="table-responsive-sm">
                                <table  class=" table table-striped table-hover">
                                    <thead class="fw-bold">
                                        <tr>
                                            <td scope="col">Course Code</td>
                                            <td scope="col">Course Name</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (course of studentInfo.coreCourses; track course.code) {
                                            <tr>
                                                <td>{{ course.code }}</td>
                                                <td>{{ course.name }}</td>
                                            </tr>
                                       }
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </div>
                    </div>
                </div>
            </div>
            <div ngbAccordion class="m-2 ">
                <div ngbAccordionItem  #electiveCoursesPanel="ngbAccordionItem" id="electiveCoursesPanel"
                (mouseenter)="handleMouseEnter('electiveCoursesPanel')" (mouseleave)="handleMouseLeave('electiveCoursesPanel')"
                (touchstart)="handleTouchStart('electiveCoursesPanel')" (touchend)="handleTouchEnd('electiveCoursesPanel')">
                    <h2 ngbAccordionHeader>
                    <button ngbAccordionButton class="btn btn-warning  pt-2 pb-2 text-white border border-0  d-flex align-items-center">
                        <div class="">
                            <i class="fas fa-clipboard-list me-2 "></i>
                        </div>
                        <div class="flex-grow-1 text-center">
                            <span>Elective Courses</span>
                        </div>                       
                        </button>
                    </h2>
                    <div ngbAccordionCollapse class="position-absolute shadow bg-white" style="right: 17px;">
                    <div ngbAccordionBody (mouseenter)="isElectiveHovered = true" (mouseleave)="handleMouseLeave('electiveCoursesPanel')"
                    (touchstart)="isElectiveHovered = true" (touchend)="handleTouchEnd('electiveCoursesPanel')">
                        <ng-template>
                           <div class="table-responsive-sm"  >
                            <table  class=" table table-striped table-hover ">
                                <thead>
                                    <tr class="fw-bold">
                                        <td scope="col">Code</td>
                                        <td scope="col">Min Credits Planned</td>
                                        <td scope="col">Max Credits Planned</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (elective of studentInfo.electiveCredits; track elective.code) {
                                        <tr>
                                            <td>{{ elective.code }}</td>
                                            <td>{{ elective.min }}</td>
                                            <td>{{ elective.max }}</td>
                                        </tr>
                                   }
                                </tbody>
                            </table>
                           </div>
                        </ng-template>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="p-3">
            @if (studentInfo.riskDesc) {
            
                <div class="p-3 py-3 border border-warning border-2">
                    <strong class="text-dark">Risk Description: </strong><span class="text-warning">{{studentInfo.riskDesc}}</span>
                </div>
            }
            @if (studentInfo.approvalStatus == approvalStatus.PENDING) {  
            <form  [formGroup]="approvalForm">
                <div class="form-group row  border-primary  rounded mb-1 p-3 ">
                    <label for="remarks-student-input" class="col-form-label col-auto fw-bold h5 text-dark">Remarks:</label>
                    <div class="col">
                        <textarea formControlName="remarks" type="text" name="remarks" id="remarks-student-input" class="form-control bg-light border-0"></textarea>
                    </div>
                </div>
                @if(showAlert){
                    <ngb-alert [dismissible]="false" class="d-block mt-3" type="success">
                        {{ alertMessage }}
                    </ngb-alert> 
                }
               
                      <div class="d-flex justify-content-center ">
                        <div class="m-2 align-center " style="width: 175px;"><button type="button" class="btn btn-primary w-100  text-white flex-fill " (click)="saveRequest(studentInfo, approvalStatus.APPROVED, true)"> <i class="fas fa-thumbs-up text-success me-2"></i>Approve</button></div>
                        <div class="m-2  align-center" style="width: 175px;"><button type="button"   class="btn btn-primary btn-outline-danger border-2 shadow-sm w-100  flex-fill  text-white" (click)="saveRequest(studentInfo, approvalStatus.REJECTED)">   <i class="fas fa-thumbs-down me-2 text-danger"></i> Reject</button></div>
                    </div>
             
              
                  
            </form>
        }
            
        </div>
    </div>
</div>
}

