
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="card" style="border: none; margin: 20px;">
  <div class="row">
    <div class="col-md-3">
      <div class="card" id="card1">
        <h2>Pending Students -</h2>
        <div ngbAccordion>
          <div
            ngbAccordionItem
            #accordionItem="ngbAccordionItem"
            class="left-pane-btn">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton class="risk-btn1">
                <fa-icon
                  [icon]="accordionItem.collapsed ? faPlus : faMinus"
                  id="plus-icon"
                ></fa-icon>
                At Risk
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  @for (student of students; track student.rollNo) { @if
                  (student.atRisk && student.approvalStatus == 0) {
                  <div class="card" id="accItem" (click)="onStudentSelected(student)">
                    <div class="row">
                      <div class="col-md-4">
                        <p>{{ student.rollNo }}</p>
                      </div>
                      <div class="col-md-8">
                        <p>{{ student.name }}</p>
                      </div>
                    </div>
                  </div>
                  } }
                </ng-template>
              </div>
            </div>
          </div>
          <div
            ngbAccordionItem
            #accordionItem="ngbAccordionItem"
            class="left-pane-btn">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton class="risk-btn2">
                <fa-icon
                  [icon]="accordionItem.collapsed ? faPlus : faMinus"
                  id="plus-icon"
                ></fa-icon
                >Not At Risk
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  
                  @for (student of students; track student.rollNo){ @if
                  (!student.atRisk && student.approvalStatus == 0) {
                  <div class="card" id="accItem" (click)="onStudentSelected(student)">
                    <div class="row">
                      <div class="col-md-4">
                        <p>{{ student.rollNo }}</p>
                      </div>
                      <div class="col-md-8">
                        <p>{{ student.name }}</p>
                      </div>
                    </div>
                  </div>
                  }}
                  
                  
                    <button class="btn btn-outline-primary" id="btn-approve-all" (click)="approveAll()">
                      Approve All
                    </button> 
                 
                </ng-template> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9" id="right-pane-container" >
      <div class="card" id="card2" >
        <div class="card-body">
          <!-- <app-student-search (studentSelected)="onStudentSelected($event)"></app-student-search> -->
          <label for="typeahead-basic" style="font-size: 20px; font-family: poppins; margin-bottom: 10px;">Search Student : </label>
          <input
            id="typeahead-basic"
            type="text"
            class="form-control"
            [(ngModel)]="model"
            [ngbTypeahead]="search"
            (selectItem)="onItemSelect($event)"
          />
        </div>
      </div>
      <!-- <app-student-detail [student]="selectedStudent"></app-student-detail> -->

      <div id="detail-component" >
        <div class="card" style="padding: 20px;">
          <h2 class="title"><b>Student Details</b></h2>
          <p>Roll No : {{ selectedStudent?.rollNo }}</p>
          <p>Name : {{ selectedStudent?.name }}</p>
          <p>Department : {{ selectedStudent?.program }}</p>
          <p>
            <a
              id="coreCoursebtn"
              class="btn btn-outline-primary"
              data-toggle="collapse"
              role="button"
              aria-expanded="false"
              data-bs-target="#coreCoursesCollapse"
              aria-controls="coreCoursesCollapse"
              (click)="getCoreCourses()"
              >Core Courses</a
            >
            <a
              class="btn btn-outline-primary"
              data-toggle="collapse"
              role="button"
              aria-expanded="false"
              data-bs-target="#electiveCollapse"
              aria-controls="electiveCollapse"
              (click)="getElectives()"
            >
              Elective
            </a>
          </p>
          <div class="row">
            @if (isCollapsedCore) {
            <div class="col">
              <div
                class="collapse multi-collapse show"
                id="coreCoursesCollapse"
              >
                <div class="card card-body">
                  <ul class="coreCourses">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Course Code</th>
                          <th>Course Name</th>
                          <th>Credits</th>
                          <th>slot</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (coreCorse of coreCourses; track coreCorse.code) {
                        <tr>
                          <td>{{ coreCorse.code }}</td>
                          <td>{{ coreCorse.name }}</td>
                          <td>{{ coreCorse.credits }}</td>
                          <td>{{ coreCorse.slot }}</td>
                        </tr>
                        }
                      </tbody>
                    </table>
                  </ul>
                </div>
              </div>
            </div>
            } @if (isCollapseElective){
            <div class="col">
              <div class="collapse multi-collapse show" id="electiveCollapse">
                <div class="card card-body">
                  <ul class="electives">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Code</th>
                          <th>Minimum Credits Planned</th>
                          <th>Maximum Credits Planned</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (elective of electiveCredits; track elective.code)
                        {
                        <tr>
                          <td>{{ elective.code }}</td>
                          <td>{{ elective.min }}</td>
                          <td>{{ elective.max }}</td>
                        </tr>
                        }
                      </tbody>
                    </table>
                  </ul>
                </div>
              </div>
            </div>
            }
          </div>
          <div>
            <h2 class="title"><b>Risk Description</b></h2>
            <!-- <fa-icon [icon]="faSearch" id="search_icon"></fa-icon> -->
            <div class="risk-desc">
              <p>{{ selectedStudent?.riskDecs }}</p>
            </div>
            <div class="remark-container">
              <textarea
                class="remark-input"
                [(ngModel)]="remarks"
                rows="1"
                (input)="autoGrowTextZone($event)"
                placeholder="Remarks"
              ></textarea>
            </div>
          </div>
          <div class="row" id="btns">
            <div class="col">
              @if(selectedStudent?.approvalStatus == 0){
                <button
                class="btn btn-success"
                id="btn-approve"
                (click)="approve()"
              >
                Approve
              </button>
              <button class="btn btn-danger" (click)="reject(remarks)">
                Reject
              </button>
              } @if(selectedStudent?.approvalStatus == 1){
              <button class="btn btn-success" id="btn-approve" disabled>
                Approved
              </button>
              }
            </div>
          </div>
          <!-- Display the approved student JSON -->
          <pre>{{ approvedStudentJson }}</pre>
          
        </div>
      </div>
    </div>
  </div>
</div>
