#card1{
    height: auto;
    padding: 20px;  
}
@media screen and (max-width: 800px) {
    #card1 {
      height: auto;
    }
}

.left-pane-btn{
  margin-bottom: 5px;
  border-style: none;
}

#a1{
    border: none;  
}
ul{
    list-style-type: none;  
}

.risk-btn1{
    color: white;
    background-color: rgb(204, 26, 26);
}
.risk-btn2{
    background-color: #0c6631;
    color: white;
    margin-right: 10px;
}

#plus-icon{
    margin-right: 10px;
}

button[ngbAccordionButton]::after {
    display: none;
}

#right-pane-container{
    padding: 10px;
}
#card2{
    border: none;
    background-color: #ecefef;
    margin-bottom: 10px; 
}
.form-control { width: 300px; }

p,
h1,
h2,
h3,
h4 {
  font-family: poppins;
}

p {
  font-size: 1.2em;
}
#accItem{
  display: flex;
  vertical-align: middle;
  padding: 9px;
  margin-bottom: 5px;
  cursor: pointer;
  
}
.title {
  font-family: poppins;
  font-style: bold;
}

button[ngbAccordionButton]::after {
  display: none;
}

#coreCoursesCollapse {
  padding: 10px;
  width: 100%;
}

#electiveCollapse {
  padding: 5px;
  width: 100%;
}

#coreCoursebtn {
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  #coreCoursebtn {
    font-size: small;
  }
}

.remark-input {
  padding: 20px;
  border-width: 1px;
  width: 100%;
  border-radius: 10px;
  height: 10vh;
}

#btns {
  align-items: center;
  justify-content: center;
  align-self: center;
}

.btn {
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 6vh;
}

#btn-approve {
  margin-right: 20px;
}

.risk-desc{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.remark-container{
    padding: 10px;
    margin-bottom: 10px;
}

