<div class="row">
    <div class="col-md-3">
        <div class="card" style="height: 550px;">
            <div class="card-body bg-light">
                <div ngbAccordion>
                    <div ngbAccordionItem [collapsed]="true">
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>At Risk</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>

                                    @for (student of notAtRisk; track student.rollNo) {
                                    <ngb-alert [dismissible]="false" type="danger"
                                        style="border-color: rgb(184, 14, 14);">
                                        <strong>
                                            <div>
                                                {{student.rollNo}}
                                            </div>
                                        </strong>
                                    </ngb-alert>
                                    }

                                </ng-template>
                            </div>
                        </div>
                    </div>

                    <div ngbAccordion>
                        <div ngbAccordionItem [collapsed]="true">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>Not At Risk</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>

                                        @for (student of atRisk; track student.rollNo) {
                                        <ngb-alert [dismissible]="false" type="success"
                                            style="border-color: rgb(13, 131, 13);">
                                            <strong>
                                                <div>
                                                    {{student.rollNo}}
                                                </div>
                                            </strong>
                                        </ngb-alert>
                                        }

                                    </ng-template>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card" style="height: 400px; background-color: rgb(165, 211, 233);">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="mb-4">
                        <input id="typeahead-focus" type="text" class="form-control" placeholder="Search Student"
                            [(ngModel)]="model" [ngbTypeahead]="search" (focus)="focus$.next($any($event).target.value)"
                            (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead" />
                        <hr />
                        <pre>Model: {{ model | json }}</pre>
                        <!-- <div>
                        <div *ngIf="selectedStudent == student.name || selectedStudent == student.rollNo"> -->
                        <!-- <h2>{{ student.name }}</h2>
                        <p>Roll No: {{ student.rollNo }}</p> -->
                        <!-- Add more properties here as you want -->
                        <!-- <app-student-details [student]="student"></app-student-details> -->
                        <!-- <app-student-details></app-student-details>
                        </div> -->
                        <!-- else
                        {
                        <h2>No student found</h2>
                        } -->
                        <!-- </div> -->
                        <!-- <div *ngIf="selectedStudent == student.name || selectedStudent == student.rollNo">
                            <app-student-details></app-student-details>
                        </div>
                        <div *ngIf="selectedStudent !== student.name && selectedStudent !== student.rollNo">
                            <h2>No student found</h2> -->
                            <!-- <div *ngFor="let result of searchResults">
                            <h2>{{ result.name }}</h2>
                            <p>Roll No: {{ result.rollNo }}</p> -->
                            <!-- Add more properties here as you want -->
                            <!-- <app-student-details [student]="result"></app-student-details>
                            </div> -->
                            <!-- <input type="text" data-provide="typeahead"> -->
                        <!-- </div> -->
                    </div>
                        <div class="container-fluid">
                            <router-outlet></router-outlet>
                        </div>
                    <!-- <input for="typeahead-focus" class="form-control" placeholder="Search Student"> -->
                </div>
            </div>
        </div>
    </div>
</div>